**/.vs/
*.sln.docstates
*.suo
*.user
*.vcxproj.user
*.vcxproj.filters
*.ncb
*.VC.db
*.pdb
*.idb
**/ipch/
**/[Dd]ebug/
**/[Rr]elease/
**/x64/
**/Win32/
*.exe
*.dll
*.lib
*.obj
*.ilk
*.pch
*.tlog
*.log
data.dat
watcher.log
DesktopExport.reg
InterfaceDLL/x64/
ComputationDLL/x64/
MainApp/x64/